service firebase.storage {
  match /b/{bucket}/o {
    match /images/thumbs/{imageId}{
    	allow read
    }
    match /images/{imageId}{
    allow read, write
    }
  }
}
