/* Coolors Exported Palette - coolors.co/0c0c0c-20212e-082a3e-7ffbd7-44e5e7 */

/* RGB */
$color1: rgb(44, 44, 44);
$color2: rgba(32, 33, 46, 1);
$color3: rgba(8, 42, 62, 1);
$color4: rgba(127, 251, 215, 1);
$color5: rgba(68, 229, 231, 1);
