<section class="container">
  <app-shared-header class="header"></app-shared-header>
  <section class="main">Main menu</section>
  <section class="sub">Sub menu</section>
  <section class="edit">
    <h2>Image</h2>

    <app-edit-image
      *ngIf="imageEditorService.$imgUrl | async as imgUrl; else uploadImg"
      [imgUrl]="imgUrl"
    ></app-edit-image>

    <ng-template #uploadImg>
      <app-upload-image></app-upload-image>
    </ng-template>
  </section>
  <footer>Footer</footer>
</section>

<!-- https://gridbyexample.com/examples/ -->
