@import "abstracts/variables";
@import "abstracts/mixins";

.container {
  height: 100%;
  background-color: $light;
  color: $light;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header main"
    "edit edit"
    "footer footer";
}

.header {
  background-color: $primary;
  color: $light;
  grid-area: header;
}

.main {
  background-color: $primary-dark;
  color: $light;
  grid-area: main;
}

.edit {
  background-color: $light;
  color: $dark;
  grid-area: edit;
}

.footer {
  background-color: $primary;
  color: $light;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@include for-size(tablet-landscape-up) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "header"
      "main"
      "edit"
      "footer";
  }
}
