<section class="container">
  <app-shared-header class="header"></app-shared-header>
  <!-- <section class="main">Main menu</section> -->
  <section class="edit">
    <app-edit-image
      *ngIf="imageEditorService.$dataURL | async as dataURL; else uploadImg"
      [dataURL]="dataURL"
    ></app-edit-image>

    <ng-template #uploadImg>
      <app-upload-image></app-upload-image>
    </ng-template>
  </section>
  <footer class="footer"><p>Created by Bjarne Gerhardt-Pedersen</p></footer>
</section>

<!-- https://gridbyexample.com/examples/ -->
