<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="container edit-image">
  <div class="menu">
    <button
      class="btn"
      (click)="onDownload()"
      [disabled]="loading"
      [ngClass]="{ disabled: loading }"
      matTooltip="Generate download links"
      matTooltipPosition="right"
    >
      <mat-icon>cloud_download</mat-icon>
    </button>

    <button
      (click)="onReset()"
      class="btn"
      matTooltip="Clear image"
      matTooltipPosition="right"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <section class="edit">
    <canvas #canvasEdit id="imgEdit" class="img"></canvas>
  </section>
</div>
