@import 'abstracts/variables';

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    'side-menu top-menu'
    'side-menu edit';
}

.top-menu {
  grid-area: top-menu;
  display: flex;
  justify-content: center;
  align-items: center;
  .btn {
    color: mat-color($accent);
  }
}

.side-menu {
  grid-area: side-menu;
  background-color: mat-color($primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .btn {
    color: $color-white;
  }
}

.edit {
  grid-area: edit;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  canvas {
    max-width: 100%;
    max-height: 400px;
    @media screen and (max-height: 600px) {
      max-height: 200px;
    }
    @media screen and (max-height: 300px) {
      max-height: 100px;
    }
    @media screen and (max-height: 200px) {
      max-height: 50px;
    }
  }
}

.btn {
  padding: 5px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  background-color: inherit;
}

mat-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.disabled {
  color: mat-color($mat-gray);
}
