@import "abstracts/variables";
@import "abstracts/mixins";

#imgEditContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.menu {
  padding: 5px;
  background-color: $primary-light;
  color: $light;
}

section {
  display: flex;
  flex-wrap: wrap;
  & > .container-image {
    position: relative;
    flex: 1 1 300px;
    margin: 5px;
    & > .image-header {
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0;
      padding: 10px;
      height: auto;
      background-color: rgba(20, 20, 20, 0.493);
      color: $light;
    }
  }
}

.btn {
  padding: 10px;
  border: none;
  color: #141414;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  margin: 5px;
  background-color: #fff;
}

.img {
  max-width: 100%;
}
