<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="container edit-image">
  <div class="top-menu">
    <button class="btn" matTooltip="Rotate left" (click)="onRotate('left')">
      <mat-icon>rotate_left</mat-icon>
    </button>

    <button class="btn" matTooltip="Rotate right" (click)="onRotate('right')">
      <mat-icon>rotate_right</mat-icon>
    </button>
  </div>
  <div class="side-menu">
    <button
      class="btn"
      (click)="onDownload()"
      [disabled]="loading"
      [ngClass]="{ disabled: loading }"
      matTooltip="Generate download links"
      matTooltipPosition="right"
    >
      <mat-icon>cloud_download</mat-icon>
    </button>

    <button
      (click)="onReset()"
      class="btn"
      matTooltip="Clear image"
      matTooltipPosition="right"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <section class="edit">
    <canvas #canvasEdit id="imgEdit" class="img"></canvas>
  </section>
</div>
