<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="container edit-image">
  <div class="top-menu">
    <button
      mat-icon-button
      aria-label="Crop to circle"
      matTooltip="Crop to circle"
      (click)="onMakeCircle()"
      color="accent"
    >
      <mat-icon>account_circle</mat-icon>
    </button>

    <button mat-icon-button color="accent" aria-label="Crop to circle" matTooltip="Rotate left" (click)="onRotate(-90)">
      <mat-icon>rotate_left</mat-icon>
    </button>

    <button mat-icon-button color="accent" aria-label="Rotate right" matTooltip="Rotate right" (click)="onRotate(90)">
      <mat-icon>rotate_right</mat-icon>
    </button>

    <div class="divider-vertical"></div>

    <button mat-icon-button color="accent" aria-label="Reset" matTooltip="Reset" (click)="onReset()">
      <mat-icon>undo</mat-icon>
    </button>

    <div class="divider-vertical"></div>

    <button
      mat-icon-button
      color="accent"
      aria-label="Generate download links"
      (click)="onDownload()"
      [disabled]="loading"
      [ngClass]="{ disabled: loading }"
      matTooltip="Generate download links"
    >
      <mat-icon>cloud_download</mat-icon>
    </button>

    <div class="divider-vertical"></div>

    <button (click)="onDelete()" mat-icon-button color="warn" aria-label="Delete image" matTooltip="Delete image">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <section class="edit">
    <canvas #canvasElm id="imgEdit"></canvas>
  </section>
</div>
